.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.md-form {
  width: 15% !important;
  display: inline-block;
  margin-bottom: 0px;
}

.md-form .prefix {
  left: 0px;
}

.view {
  text-align: left !important;
}