<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safetyBread.admin.DAO.DashboardDAO">
	<select id="selectLogs" resultType="com.safetyBread.admin.model.Log">
		select id, skill, user, msg, date from log order by id desc limit 0, 5;
	</select>
	
	<select id="selectManagers" resultType="com.safetyBread.admin.model.Manager">
		select id, name, role from manager order by id desc limit 0, 5;
	</select>
	
	<select id="getManager" parameterType="Map" resultType="com.safetyBread.admin.model.Manager">
		select id, name, role from manager where id = #{id} and password = #{password};
	</select>
	
	<insert id="insertToken" parameterType="Map">
		insert into user_session values(#{id}, #{token});
	</insert>
	
	<delete id="deleteToken" parameterType="Map">
		delete from user_session where token = #{token};
	</delete>
	
	<select id="checkSession" parameterType="Map" resultType="Integer">
		select count(*) from user_session where token = #{token};
	</select>
</mapper>