<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safetyBread.admin.DAO.DashboardDAO">
	<select id="selectLogs" resultType="com.safetyBread.admin.model.Log">
		select id, skill, user, msg, date from log order by id desc limit 0, 5;
	</select>
	
	<select id="selectManagers" resultType="com.safetyBread.admin.model.Manager">
		select ID, Name, Role from manager order by id desc limit 0, 5;
	</select>
</mapper>