<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safetyBread.admin.DAO.ManagerDAO">
	<select id="selectManagers" resultType="com.safetyBread.admin.model.Manager" parameterType="Map">
		select id, name, role from manager
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="id != null and !id.equals('')">
				id like CONCAT("%", #{id}, "%")
			</if>
			<if test="name != null and !name.equals('')"
				AND name like CONCAT("%", #{name}, "%")
			</if>
			<if test="role != null and !role.equals('')">
				AND role like CONCAT("%", #{role}, "%")
			</if>
		</trim>
		limit #{index}, 15;
	</select>
	
	<select id="getTotalCount" resultType="Map">
		select count(*) as 'total' from manager
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="id != null and !id.equals('')">
				id like CONCAT("%", #{id}, "%")
			</if>
			<if test="name != null and !name.equals('')">
				AND name like CONCAT("%", #{name}, "%")
			</if>
			<if test="role != null and !role.equals('')">
				AND role like CONCAT("%", #{role}, "%")
			</if>
		</trim>
	</select>
	
	<insert id="addManager" parameterType="Map">
		insert into manager values(#{id}, #{name}, #{role}, #{password});
	</insert>
	
	<delete id="deleteManager" parameterType="String">
		delete from manager where id = #{id};
	</delete>
	
	<select id="getManager" parameterType="Map">
		select count(*) from manager where id = #{id} and password = #{password};
	</select>
</mapper>