<div class="modal-header">
  <h5 class="modal-title">Modify</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="valid">
    <div class="md-form">
      <mdb-icon fas icon="user" class="prefix"></mdb-icon>
      <input type="text" name="name" id="orangeForm-name" class="form-control" autocomplete="username" mdbInput mdbValidate formControlName="name">
      <label for="orangeForm-name">Your name</label>
      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">이름을 입력하세요.</mdb-error>
    </div>

    <div class="md-form">
      <mdb-icon fab icon="qq" class="prefix"></mdb-icon>
      <select class="browser-default custom-select" name="role" formControlName="select">
        <option value="" disabled>Role</option>
        <option value="KING">KING</option>
        <option value="Jin">Jin</option>
      </select>
      <mdb-error *ngIf="select.invalid">권한을 선택하세요.</mdb-error>
    </div>

    <div class="md-form">
      <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
      <button class="btn btn-danger" (click)="reset(id)">비밀번호 초기화</button>
    </div>
  </form>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button class="btn btn-dark waves-light" mdbWavesEffect (click)="modify(id)" [disabled]="valid.status == 'INVALID'">MODIFY</button>
</div>