<div class="account-pages mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        <form [formGroup]="valid">
                            <div class="form-group mb-3">
                                <label for="user-id">User ID</label>
                                <input class="form-control" type="text" id="user-id" placeholder="Enter your id"
                                    autocomplete="username" mdbInput formControlName="id">
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password"
                                    placeholder="Enter your password" autocomplete="new-password" mdbInput
                                    formControlName="password">
                            </div>
                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" mdbWavesEffect
                                    [disabled]="valid.status == 'INVALID'" (click)="login()">Log In</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <h5 class="mt-3 text-muted">Sign in with</h5>
                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a class="social-list-item border-primary text-primary">
                                        <mdb-icon fab icon="facebook" class="mr-3"></mdb-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-list-item border-danger text-danger">
                                        <mdb-icon fab icon="google" class="mr-3"></mdb-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-list-item border-info text-info">
                                        <mdb-icon fab icon="twitter" class="mr-3"></mdb-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-list-item border-secondary text-secondary">
                                        <mdb-icon fab icon="github"></mdb-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p>
                            <a href="pages-recoverpw.html" class="text-muted ml-1">Forgot your password?</a>
                        </p>
                        <p class="text-muted">Don't have an account?
                            <a href="pages-register.html" class="text-primary font-weight-medium ml-1">Sign Up</a>
                        </p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<app-footer></app-footer>